<!doctype html>

<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/client/layout"
	layout:decorator="client/layout/default">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Thông tin cá nhân</title>
</head>
<body>
	<div layout:fragment="clientcontent">
		<nav aria-label="breadcrumb">
			<div class="container-fluid">
				<ol class="breadcrumb bg-white mb-0 py-2">
					<li class="breadcrumb-item"><a th:href="@{/course}"><i
							class="fa fa-home mr-1"></i> Home</a></li>
					<li class="breadcrumb-item active" aria-current="page">Profile</li>
				</ol>
			</div>
		</nav>

		<section class="course-banner">
			<div class="container">
				<div class="banner-content">
					<h1 th:text="${user.fullname}">Nguyễn Tiến Hoàng</h1>
					<h5 th:text="${user.email}">tienhoang1211@gmail.com</h5>
				</div>
			</div>
		</section>
		<!-- BEGIN BANNER -->
		<!-- BEGIN CONTENT -->
		<section class="mt-4">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<!-- Nav tabs -->
						<ul class="nav nav-tabs nav-tabs__custom">
							<li class="nav-item"><a class="nav-link active"
								data-toggle="tab" href="#profile">Profile Detail</a></li>
							<li class="nav-item"><a class="nav-link" data-toggle="tab"
								href="#picture">Profile Avatar</a></li>
							<li class="nav-item"><a class="nav-link" data-toggle="tab"
								href="#security">Profile Security</a></li>
						</ul>

						<!-- Tab panes -->
						<div class="tab-content tab-content__custom">
							<div class="tab-pane container-fluid active" id="profile">
								<form th:action="@{/user/profile/detail}" th:object="${user}"
									method="post">

									<div class="row">
										<input type="hidden" th:field="*{id}" class="form-control" />

										<input type="hidden" th:field="*{roleId}" class="form-control" />
										<div class="col-md-6">
											<div class="form-group">
												<label>Email</label> <input type="email" readonly="readonly"
													th:field="*{email}" class="form-control" />
											</div>
											<div class="form-group">
												<label>FullName</label> <input type="text"
													th:field="*{fullname}" class="form-control" />
											</div>
											<div class="form-group">
												<label>Address</label> <input type="text"
													th:field="*{address}" class="form-control" />
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<label>Phone</label> <input type="text" th:inputmode="tel"
													th:field="*{phone}" class="form-control" />
											</div>
											<div class="form-group">
												<label>Website</label>
												<div class="input-group">
													<div class="input-group-prepend">
														<span class="input-group-text">Website</span>
													</div>
													<input type="text" th:field="*{website}"
														class="form-control">
												</div>
											</div>
											<div class="form-group">
												<label>Facebook</label>
												<div class="input-group">
													<div class="input-group-prepend">
														<span class="input-group-text">http://www.facebook.com/</span>
													</div>
													<input type="text" th:field="*{facebook}"
														class="form-control">
												</div>
											</div>

										</div>
										<div class="col-md-12">
											<button class="btn btn-outline-secondary mt-3">Save</button>
										</div>

									</div>
								</form>
							</div>
							<div class="tab-pane container-fluid fade picture" id="picture">
								<form th:action="@{/user/profile/picture}" th:object="${user}"
									method="post" enctype="multipart/form-data">
									<input type="hidden" th:field="*{id}" class="form-control" />
									<div class="row">
										<div class="col-md-6">
											<h6>Image preview</h6>
											<small>Minimum 200x200 pixels, Maximum 6000x6000
												pixels</small>
											<div class="picture-wapper">
												<div class="picture-img">
													<img width="500px" height="230px"
														th:src="${(user.avatar == null || user.avatar=='' ) ? 'https://i.udemycdn.com/user/200_H/anonymous_3.png' : user.avatar}"
														th:alt="avatar">
												</div>
											</div>
											<input type="hidden" th:field="*{avatar}"
												class="form-control" /> <input type="file"
												th:field="*{fileDatas}" class="form-control" />
											<button class="btn btn-outline-secondary mt-4">Save</button>
										</div>
									</div>
								</form>
							</div>
							<div class="tab-pane container-fluid fade" id="security">
								<form th:action="@{/user/profile/security}"
									th:object="${changePassWord}" method="post">

									<div class="row">


										<div class="col-md-6">
											<input type="hidden" th:field="*{id}" class="form-control" />

											<div class="form-group">
												<p class="text-danger" th:text="${mess}">Validation
													error</p>
												<label>Email</label> <input type="text" th:field="*{email}"
													class="form-control" readonly
													value="tienhoang1211@gmail.com" />
											</div>
											<div class="form-group">
												<label>Password</label> <input type="password"
													class="form-control" th:field="*{password}"
													required="required"
													oninvalid="this.setCustomValidity('Please enter valid password')"
													oninput="setCustomValidity('')" />
												<p class="text-danger" th:text="${comparePassWord}">Validation
													error</p>
												<p th:each="error : ${#fields.errors('password')}"
													th:text="${error}">Validation error</p>
											</div>

											<div class="form-group">
												<label>New Password</label> <input type="password"
													class="form-control" th:field="*{newPassWord}"
													required="required"
													oninvalid="this.setCustomValidity('Please enter valid new password')"
													oninput="setCustomValidity('')" />
												<p th:each="error : ${#fields.errors('newPassWord')}"
													th:text="${error}">Validation error</p>
											</div>
											<div class="form-group">
												<label>Confirm password</label> <input type="password"
													class="form-control" th:field="*{confirm}"
													required="required"
													oninvalid="this.setCustomValidity('Please enter valid confirm password')"
													oninput="setCustomValidity('')" />
												<p class="text-danger" th:text="${confirmMessage}">Validation
													error</p>
												<p th:each="error : ${#fields.errors('confirm')}"
													th:text="${error}">Validation error</p>
											</div>
										</div>

										<div class="col-md-12">
											<button class="btn btn-outline-secondary mt-3">Save</button>
										</div>

									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>


		<hr>

		<!-- 
		BEGIN BANNER
		BEGIN CONTENT
		<section class="mt-3">
			<div class="container">
				<div class="row">
					<div class="col-md-3" th:each="course : ${courses}">
						<a class="my-course-item"> <img
							src="/userassets/img/html-css.jpg" alt="courseImage">
							<h6 class="my-course-title" th:text="${course.title}">React
								- The Complete Guide (incl Hooks, React Router, Redux)</h6>
							<div class="my-course-desc" th:text="${course.description}">Java
								Python Android and C# Expert Developer - 467K+ students The
								Complete Guide (incl Hooks, React Router, Redux)</div>
							<div class="my-course-author">
								<h6>
									<small th:text="${course.author}">Lê Quang Song</small> <small>Start
										course</small>
								</h6>
							</div>
						</a>
					</div>
					<div class="col-md-3" th:each="course : ${courses}">
						<a th:href="@{/course/detail/{id}(id=${course.id})}"
							class="my-course-item"> <img src="/userassets/img/nodejs.jpg"
							alt="courseImage">
							<h6 class="my-course-title" th:text="${course.title}">React
								- The Complete Guide (incl Hooks, React Router, Redux)</h6>
							<div class="my-course-desc" th:text="${course.description}">Java
								Python Android and C# Expert Developer - 467K+ students The
								Complete Guide (incl Hooks, React Router, Redux)</div>
							<div class="my-course-author">
								<h6>
									<small th:text="${course.author}">Lê Quang Song</small> <small>Start
										course</small>
								</h6>
							</div>
						</a>
					</div>


				</div>
		</section> -->
	</div>


</body>

</html>