<body xmlns:th="http://www.thymeleaf.org">
	<footer class="bg-dark text-light py-4 mb-1 text-center border-top"
		style="clear: both; position: relative; margin-top: 300px;">
		<span>Copyright &copy; 2020 Elearning, Inc.</span>
	</footer>
	<script type="text/javascript"
		th:src="@{/userassets/lib/jquery/jquery.slim.min.js}"></script>
	<script type="text/javascript"
		th:src="@{/userassets/lib/popper.js/popper.min.js}"></script>
	<script type="text/javascript"
		th:src="@{/userassets/lib/bootstrap/bootstrap.min.js}"></script>
	<script type="text/javascript"
		th:src="@{/userassets/lib/modal-video/js/jquery-modal-video.min.js}"></script>
	<script>
		$(".btn-video").modalVideo({
			channel : 'youtube'
		});
	</script>
	<script th:src="@{/assets/js/jquery-3.1.1.min.js}"></script>
	<script th:name="toggle-grid" type="text/javascript">
		$(document).ready(function() {
			$(document).on("keypress", function(event) {
				// If 'alt + g' keys are pressed:
				if (event.which === 169) {
					$('#toggle-grid').toggle();
				}
			});

			$('#toggle-grid').on("click", function() {
				$('.pixel-grid').toggle();
				$('#toggle-grid').toggleClass('orange');
			});
		});
	</script>
</body>