<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="client/layout/default">
<head>
<title>Cập nhật khóa học</title>
</head>
<body>
	<div layout:fragment="clientcontent">

		<nav aria-label="breadcrumb" xmlns:th="http://www.thymeleaf.org">
			<div class="container-fluid">
				<ol class="breadcrumb bg-white mb-0 py-2">

					<li class="breadcrumb-item"><a th:href="@{/course}"><i
							th:class="${category !=null ? category.icon : 'fa fa-home mr-1'}"></i><span
							th:text="${category !=null ? category.title : 'Home'}"></span> </a></li>
					<li class="breadcrumb-item active" aria-current="page">List
						course</li>
					<li class="breadcrumb-item active" aria-current="page"
						th:text="${course !=null ? course.title : ''}">Python</li>
				</ol>
			</div>

		</nav>
		<hr>

		<section class="course-content">

			<div class="container">
				<div class="row">
					<div class="col-sm-12">


						<h2 class="text-uppercase text-center">Cập nhật khóa học</h2>

						<div class="card-block">
							<form method="post" th:object="${course}"
								th:action="@{/lecturer/edit}" enctype="multipart/form-data">
								<input type="hidden" th:field="*{id}" class="form-control" /> <input
									type="hidden" th:field="*{lecturerId}" class="form-control" />
								<input type="hidden" th:field="*{imageUrl}" class="form-control" />
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label>Tiêu đề</label> <input type="text" th:field="*{title}"
												class="form-control" />
											<p class="text-danger" th:if="${#fields.hasErrors('title')}"
												th:errors="*{title}"></p>
										</div>
										<div class="form-group">
											<label>Tên tác giả</label> <input type="text"
												th:field="*{author}" class="form-control" />
											<p class="text-danger" th:if="${#fields.hasErrors('author')}"
												th:errors="*{author}"></p>
										</div>
										<div class="form-group">
											<label>Số bài học</label> <input type="number"
												th:field="*{leturesCount}" class="form-control" />
											<p class="text-danger"
												th:if="${#fields.hasErrors('leturesCount')}"
												th:errors="*{leturesCount}"></p>
										</div>
										<div class="form-group">
											<label>Số giờ học</label> <input type="number"
												th:field="*{hourCount}" class="form-control" />
											<p class="text-danger"
												th:if="${#fields.hasErrors('hourCount')}"
												th:errors="*{hourCount}"></p>
										</div>
										<div class="form-group">
											<label>Danh mục</label> <select id="categoryId"
												name="categoryId" class="form-control">

												<option th:each="category : ${categories}"
													th:value="${category.id}" th:text="${category.title}"
													th:selected="${category.id==defaultCategory}"></option>
											</select>
										</div>
										<div>
											<label>Nội dung</label>
											<textarea name="content" th:field="*{content}"
												class="form-control" rows="5"></textarea>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label>Giá bán</label> <input type="number"
												th:field="*{price}" class="form-control" />
											<p class="text-danger" th:if="${#fields.hasErrors('price')}"
												th:errors="*{price}"></p>
										</div>
										<div class="form-group">
											<label>Giảm giá (%)</label> <input type="number"
												th:field="*{discount}" class="form-control" />
											<p class="text-danger"
												th:if="${#fields.hasErrors('discount')}"
												th:errors="*{discount}"></p>
										</div>
										<div class="form-group">
											<label>Mô tả</label> <input type="text"
												th:field="*{description}" class="form-control" />
											<p class="text-danger"
												th:if="${#fields.hasErrors('description')}"
												th:errors="*{description}"></p>
										</div>
										<label>Hình đại diện</label>
										<div class="form-group">

											<div class="form-group">
												<img style="width: 100%; height: 270px" th:alt="avatar"
													th:src="${ course.imageUrl }" class="rounded img-thumbnail"
													alt="courseImage"> <input type="file"
													th:field="*{fileDatas}" class="form-control" />

											</div>
										</div>

										<div class="course-list">
											<div
												class="list-header d-flex align-items-center justify-content-between">
												<a th:href="@{/lecturer/addVideo/{id}(id=${course.id})}"
													class="btn btn-sm btn-success btn-round py-1 font-weight-bold">
													Add Video To Course </a>

												<div>
													<span class="mr-3"
														th:text="${course.leturesCount + ' lectures'}">180
														lectures</span>
												</div>
											</div>
											<div class="mt-2">
												<a href="#list-content" class="list-content-first"
													data-toggle="collapse"> <span><i
														class="fa fa-minus mr-1"></i> Video list</span> <span
													th:text="${course.hourCount}">40:28:55</span>
												</a>

												<ul id="list-content" class="collapse show container">

													<li class="row" th:each="video : ${videos}"><a
														th:href="@{https://youtu.be/{url}(url=${video.url})}"
														class="bg-light ml-4 mt-1 btn-video col-9"
														th:data-video-id="${video.url}"> <span> <i
																class="fa fa-play-circle mr-1"></i><span
																th:text="${video.title}">Course Introduction</span>
														</span> <span th:text="${video.timeCount}">5:32</span>
													</a><a th:href="@{/lecturer/editVideo/{id}(id=${video.id})}"
														class="mt-2 col-1 btn btn-sm btn-info py-1 font-weight-bold">
															Sửa </a> <a
														th:href="@{/lecturer/deleteVideo/{id}(id=${video.id})}"
														class="mt-2 text-center col-1 btn btn-sm btn-danger py-1 font-weight-bold">
															Xóa </a></li>
												</ul>
											</div>
										</div>

									</div>


									<button type="submit"
										class="ml-2 mr-2 mt-5 btn btn-primary btn-md btn-block">
										Save</button>
									<a th:href="@{/lecturer/course/{id}(id=${course.id})}"
										class="btn ml-2 mr-2 mt-3 mb-3 btn-info btn-md btn-block">Back</a>


								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>



	<script>
		$(".btn-video").modalVideo({
			channel : 'youtube'
		});
	</script>

</body>
</html>